*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Recommended Ignores by JetBrains
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# .idea/ files are handled in .idea/.gitignore
