# Recommended Ignores by JetBrains
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# Default ignored files
/dictionaries/
/libraries/
/modules/
/shelf/
/androidTestResultsUserPreferences.xml
/assetWizardSettings.xml
/dataSources.ids
/dataSources.xml
/dynamic.xml
/gradle.xml
/modules.xml
/sqlDataSources.xml
/tasks.xml
/workspace.xml
/usage.statistics.xml
*.iml
